.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.app {
	background-color: white;
	width: 50%;
	height: 100%;
	margin: auto;
	padding: 10px;
}

h3 {
	text-align: center;
}

form {
	text-align: center;
	width: 80%;
	margin: auto;
}

.formbox_1 {
	text-align: left;
	
}

.formbox_1 label {
	width: 20%;
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	font-size:16px;
}

.formbox_1 input {
	border: 1px #efefef solid;
	background-color: #efefef;
	border-radius: 5px;
	padding: 5px;
	width: 40%;
	display: inline-block;
}

#submit_btn {
	border: 1px #dddddd solid;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	width: 20%;
	margin-left: 15px;
}

.color_box {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 1%;
}

