.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.app {
	background-color: white;
	width: 80%;
	height: 100%;
	margin: auto;
	padding: 10px;
}


form {
	width: 100%;
	margin: auto;
}

img {
	width: 100%;
	height: auto;
}

.formbox_1 {
}

.formbox_1 > * {
	display: inline-block;
}

.formbox_1 > label {
}

.formbox_1 select {
	border-radius: 5px;
	border: 1px solid #efefef;
	height: 25px;
	width: 20%;
	background-color: #efefef;
	margin: 0 10% 0 2%;
}

.formbox_1 input {
	border-radius: 5px;
	border: 1px solid #efefef;
	background-color: #efefef;
	height: 20px;
	width: 5%;
	margin: 0 0 0 2%;
}

#submit_btn {
	border: 1px #dddddd solid;
	background-color: #0018f8;
	color: white;
	border-radius: 5px;
	padding: 4px;
	height: 100%;
	width: 20%;
	float:right;
	margin: 0;
}

.formbox_2 {
	width: 100%;
	margin: auto;
}

